html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 1.5fr;
  grid-template-rows: 5% 10% 43% 20% 10% 5%;
  gap: 1% 1%;
  grid-template-areas: "nav nav nav nav" "titulo . . ." "contact contact . local" "contact contact . ." ". . . ." "footer footer footer footer";
}
body{
	font-family: Arial, Helvetica, sans-serif;
}
.header{
	grid-area: nav; 
	margin-left: 0.5%;

}
h2{
	background-color: lightsteelblue;
}
.barra { 
	grid-area: nav; 
    
}

.titulo { 
	grid-area: titulo; 

    padding-left: 5%;
}

.local { 
	grid-area: local; 
	margin: 5%;

}

.contact { 
	grid-area: contact; 

    padding-left: 5%;
}

.footer { 
	grid-area: footer;  
	margin-right: 0.5%;
	margin-left: 0.5%;
}



.grid-container * { 
 position: relative;
}

.grid-container *:after { 
 position: absolute;
 top: 0;
 left: 0;
}