/* Estilos para celulares en vertical */
html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.2fr 2.6fr 0.2fr;
	gap: 1px 1px;
	grid-template-areas: "header" "main" "foot";
}

.header { 
	grid-area: header; 
	background-color: lightsteelblue;
	font-family: Arial, Helvetica, sans-serif;
}

.top{
	padding-left: 2rem;
	display: inline-flex;
	font-size: x-large;
}

.logo{
	width: 3rem; 
	padding-top: 2.1rem;
}

.main { 
	grid-area: main;
	padding-left: 2rem;
	font-family: Arial, Helvetica, sans-serif;
}

h5{
	max-width: 37rem;
}

.foot {
	grid-area: foot;
	background-color: burlywood;
	font-family: Arial, Helvetica, sans-serif;
}

.copyright{
	padding-left: 2rem;
}

/* --------------------------------------------------------------------------------------------------------------------------- */

/* Estilos para celulares en horizontal o tablets en vertical */

@media screen and (min-width: 768px){
	html, body, .grid-container { height: 100%; margin: 0; }

	.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.2fr 2.6fr 0.2fr;
	gap: 1px 1px;
	grid-template-areas: "header" "main" "foot";
	}

	.header { 
		grid-area: header; 
		background-color: lightsteelblue;
		font-family: Arial, Helvetica, sans-serif;
	}

	.top{
		padding-left: 2rem;
		display: inline-flex;
		font-size: x-large;
	}

	.logo{
		width: 5rem; 
		padding-top: 1rem;
	}

	.main { 
		grid-area: main;
		padding-left: 2rem;
		font-family: Arial, Helvetica, sans-serif;
	}

	h5{
		max-width: 37rem;
		font-size: inherit;
	}
	
	h4{
		font-size: x-large;
	}

	p, a{
		font-size: large;
	}

	.foot {
		grid-area: foot;
		background-color: burlywood;
		font-family: Arial, Helvetica, sans-serif;
	}

	.copyright{
		padding-left: 2rem;
	}
}

/* --------------------------------------------------------------------------------------------------------------------------- */

/* Estilos para escritorio o tablet en horizontal */

@media ( min-width: 1200px){
	html, body, .grid-container { height: 100%; margin: 0; }

	.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.01fr 2.6fr 0.2fr;
	gap: 1px 1px;
	grid-template-areas: "header" "main" "foot";
	}

	.header { 
		grid-area: header; 
		background-color: lightsteelblue;
		font-family: Arial, Helvetica, sans-serif;
	}

	.top{
		padding-left: 2rem;
		display: inline-flex;
		font-size: x-large;
	}

	.logo{
		width: 5rem; 
		padding-top: 1rem;
	}

	.main { 
		grid-area: main;
		padding-left: 2rem;
		font-family: Arial, Helvetica, sans-serif;
	}

	h5{
		max-width: 37rem;
		font-size: small;
	}

	h4{
		font-size: initial;
	}

	p, a{
		font-size: large;
	}

	.foot {
		grid-area: foot;
		background-color: burlywood;
		font-family: Arial, Helvetica, sans-serif;
	}

	.copyright{
		padding-left: 2rem;
	}
}