/* Estilos para celulares en vertical */

html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1fr 2.5fr 0.2fr;
  gap: 1px 1px;
  grid-template-areas: "Header" "Form" "Resultados" "Foot";
}

.Header { 
	grid-area: Header;
	background-color: lightsteelblue;
}

.titulo{
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 2rem;
}

.Form { 
	grid-area: Form; 
}

.caja {
	margin: 20px auto 40px auto;	
	border: 1px solid #d9d9d9;
	height: 3rem;
	overflow: hidden;
	width: 16rem;
	position:relative;
	border-radius: 10px;
}

select {
	background: transparent;
	border: none;
	font-size: 14px;
	height: 30px;
	padding: 5px;
	width: 250px;
}

select:focus{ 
	outline: none;
}
 
.caja::after{
	content:"\025be";
	display:table-cell;
	padding-top:7px;
	text-align:center;
	width:30px;
	height:30px;
	background-color:#d9d9d9;
	position:absolute;
	top:0;
	right:0px;	
	pointer-events: none;
}

.filtro { 
	text-align: center;
}

.buscar{
	padding: 8px;
	color: #ffffff;
    background-color: #B22222;
    border-radius: 6px;
    border: 2px solid #000000;
}

.buscar:hover{
	color: #000000;
	opacity: 0.9;
}

.busqueda{
	padding: 5px;
	border-radius: 5px;
}

.Resultados { 
	grid-area: Resultados; 
}

.Foot { 
	grid-area: Foot; 
	background-color: burlywood;
	padding-left: 2rem;
}

/* Estilos para celulares en vertical */
@media only screen and (max-width: 736px){
	.grid-container {
	  display: grid;
	  grid-template-columns: 1fr;
	  grid-template-rows: 0.3fr 1fr 1.5fr 1.9fr 0.3fr;
	  gap: 1% 1%;
	  grid-template-areas: "nav" "." "filtro" "." "pie";
	}
}
/* 
.grid-container * { 
 position: relative;
}

.grid-container *:after { 
 position: absolute;
 top: 0;
 left: 0;
} */

/* --------------------------------------------------------------------------------------------------------------------------- */

/* Estilos para celulares en horizontal o tablets en vertical */

@media screen and (min-width: 768px){

}

/* --------------------------------------------------------------------------------------------------------------------------- */

/* Estilos para escritorio o tablet en horizontal */

@media ( min-width: 1200px){

}