/* Estilos para celulares en vertical */

html, body{ height: 100%; margin: 0; }

div{
	display: flow-root;
}

footer {
	bottom: 0;
	width: -webkit-fill-available;
	display: inline-block;
}

#footer_push {
	clear: both;
	height: 50px;
}

.Header { 
	background-color: lightsteelblue;
}

.fav{
	margin-top: 0.6rem;
	margin-right: 2px;
	position:absolute;
	top:0;
	right:0;
}

.titulo{
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 2rem;
	display: inline-flex;
}

.logo{
	width: 3rem; 
	padding-top: 1rem;
}

.caja {
	margin: 20px auto 40px auto;	
	border: 1px solid #d9d9d9;
	height: 3rem;
	overflow: hidden;
	width: 70%;
	position:relative;
	border-radius: 10px;
	background-color: white;
}

select {
	background: transparent;
	border: none;
	font-size: 14px;
	height: 30px;
	padding: 5px;
	width: 250px;
}

select:focus{ 
	outline: none;
}
 
.caja::after{
	content:"\025be";
	display:table-cell;
	padding-top:7px;
	text-align:center;
	width:30px;
	height:30px;
	background-color:#d9d9d9;
	position:absolute;
	top:0;
	right:0px;	
	pointer-events: none;
}

.filtro { 
	text-align: center;
	background-color: lemonchiffon;
}

.buscar:hover{
	color: #000000;
	opacity: 0.9;
}

.busqueda{
	padding: 5px;
	border-radius: 5px;
}

h2, h3 {
	font-family: Arial, Helvetica, sans-serif;
}

p, a{
	font-family: Arial, Helvetica, sans-serif;
}

.results{
	padding-left: 2rem;
	min-height: 30.5rem;
}

.formInput{
    width: 70%;
    background-color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    font-size: 1rem;
	height: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

label{
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
}

.obligatorio{
    color: red;
    font-size: large;
}

.button{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 10rem;
}

.libro{
	width: 200px;
	padding: 20px;
}

.Resultados { 
	display: block;
	background-color: ivory;
	padding-left: 2rem;
}

.Foot { 
	background-color: burlywood;
	padding-left: 2rem;
}

/* --------------------------------------------------------------------------------------------------------------------------- */

/* Estilos para celulares en horizontal o tablets en vertical */

@media screen and (min-width: 768px){
	html, body{ height: 100%; margin: 0; }

	div{
		display: flow-root;
	}

	footer {
		bottom: 0;
		width: -webkit-fill-available;
		display: inline-block;
	}

	.Header { 
		background-color: lightsteelblue;
	}

	.fav{
		margin-top: 1.2rem;
		margin-right: 2px;
		position:absolute;
		top:0;
		right:0;
	}

	.titulo{
		font-family: Arial, Helvetica, sans-serif;
		padding-left: 2rem;
		font-size: x-large;
		display: inline-flex;
	}

	.logo{
		width: 5rem; 
		padding-top: 1rem;
	}

	.caja {
		margin: 20px auto 40px auto;	
		border: 1px solid #d9d9d9;
		height: 3rem;
		overflow: hidden;
		width: 50%;
		position:relative;
		border-radius: 10px;
		background-color: white;
		font-size: 1.3rem;
	}

	select {
		background: transparent;
		border: none;
		font-size: 14px;
		height: 30px;
		padding: 5px;
		width: 250px;
	}

	select:focus{ 
		outline: none;
	}
	
	.caja::after{
		content:"\025be";
		display:table-cell;
		padding-top:7px;
		text-align:center;
		width:30px;
		height:30px;
		background-color:#d9d9d9;
		position:absolute;
		top:0;
		right:0px;	
		pointer-events: none;
	}

	.filtro { 
		text-align: center;
		background-color: lemonchiffon;
	}

	.buscar:hover{
		color: #000000;
		opacity: 0.9;
	}

	.busqueda{
		padding: 5px;
		border-radius: 5px;
	}

	h2, h3 {
		font-family: Arial, Helvetica, sans-serif;
		font-size: xx-large;
	}

	p, a{
		font-family: Arial, Helvetica, sans-serif;
		font-size: x-large;
	}

	.results{
		padding-left: 2rem;
		min-height: 30.5rem;
	}

	.formInput{
		width: 80%;
		background-color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border-radius: 4px;
		font-size: 1.3rem;
		height: 2rem;
		font-family: Arial, Helvetica, sans-serif;
	}

	label{
		font-family: Arial, Helvetica, sans-serif;
		font-size: x-large;
	}

	.obligatorio{
		color: red;
		font-size: x-large;
	}

	.button{
		background-color: #4CAF50; 
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		border-radius: 4px;
		width: 10rem;
		height: 4rem;
    	font-size: x-large;
	}

	.Resultados { 
		background-color: ivory;
		padding-left: 2rem;
		display: block;
	}
	.libreria{
	display: flex;
	flex-wrap: wrap;
	}

	.Foot { 
		background-color: burlywood;
		padding-left: 2rem;
	}
}

/* --------------------------------------------------------------------------------------------------------------------------- */

/* Estilos para escritorio o tablet en horizontal */

@media ( min-width: 1200px){
	html, body{ height: 100%; margin: 0; }

	div{
		display: flow-root;
	}

	footer {
		bottom: 0;
		width: -webkit-fill-available;
		display: inline-block;
	}

	.Header { 
		background-color: lightsteelblue;
	}

	.fav{
		margin-top: 1.7rem;
		margin-right: 2px;
		position:absolute;
		top:0;
		right:0;
	}

	.titulo{
		font-family: Arial, Helvetica, sans-serif;
		padding-left: 2rem;
		display: inline-flex;
	}

	.logo{
		width: 5rem; 
		padding-top: 1rem;
	}

	.results{
		padding-left: 2rem;
		min-height: 30.5rem;
	}

	.caja {
		margin: 20px auto 40px auto;	
		border: 1px solid #d9d9d9;
		height: 3rem;
		overflow: hidden;
		width: 20rem;
		position:relative;
		border-radius: 10px;
		background-color: white;
		font-size: medium;
	}

	select {
		background: transparent;
		border: none;
		font-size: 14px;
		height: 30px;
		padding: 5px;
		width: 250px;
	}

	select:focus{ 
		outline: none;
	}
	
	.caja::after{
		content:"\025be";
		display:table-cell;
		padding-top:7px;
		text-align:center;
		width:30px;
		height:30px;
		background-color:#d9d9d9;
		position:absolute;
		top:0;
		right:0px;	
		pointer-events: none;
	}

	.filtro { 
		text-align: center;
		background-color: lemonchiffon;
	}

	.buscar:hover{
		color: #000000;
		opacity: 0.9;
	}

	.busqueda{
		padding: 5px;
		border-radius: 5px;
	}

	h2, h3 {
		font-family: Arial, Helvetica, sans-serif;
		font-size: x-large;
	}

	p, a{
		font-family: Arial, Helvetica, sans-serif;
		font-size: inherit;
	}

	.formInput{
		width: 20rem;
		background-color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border-radius: 4px;
		font-size: 1rem;
		height: 1rem;
		font-family: Arial, Helvetica, sans-serif;
	}

	label{
		font-family: Arial, Helvetica, sans-serif;
		font-size: inherit;
	}

	.obligatorio{
		color: red;
		font-size: inherit;
	}

	.button{
		background-color: #4CAF50; 
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		border-radius: 4px;
		width: 10rem;
		height: inherit;
	}

	.Resultados { 
		background-color: ivory;
		padding-left: 2rem;
		display: block;
	}

	.Foot { 
		background-color: burlywood;
		padding-left: 2rem;
	}
}